<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<table class="table">
		<tr>
			<th>Name</th>
			<th>Unidad de Medida</th>
		  <th>Editar - Borrar</th>
		</tr>
		<% @ingredients.each do |i| %>
			<tr>
				<td> <%= i.name %> </td>
				<td> <%= i.unit_of_measurement %> </td>
				<td> <%= link_to 'Editar', edit_ingredient_path(i) %> - <%= link_to ingredient_path(i), method: :delete, data: { confirm: 'Are you sure?' } do %><span>Borrar</span><% end %></td>
			</tr>
		<% end %>
	</table>
	<%= link_to 'Agregar ingrediente', new_ingredient_path %>
	</div>
</div>