<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<table class="table">
		<tr>
			<th>Name</th>
			<th>Precio</th>
			<th>Categoria</th>
			<th>Establecimiento</th>
		  <th>Opciones</th>
		</tr>
		<% @products.each do |p| %>
			<tr>
				<td> <%= p.name %> </td>
				<td> <%= p.precio %> </td>
				<td> <%= Categorie.find(p.categorie_id).name %> </td>
				<td> <%= p.establishment.name %> </td>
				<td> <%= link_to edit_product_path(p) do %> Editar <% end %> - <%= link_to product_path(p), method: :delete, data: { confirm: 'Are you sure?' } do %><span>Borrar</span><% end %> - <%= link_to 'Ver Receta', p %></td>
			</tr>
		<% end %>
	</table>
	<%= link_to 'Agregar producto', new_product_path %>
	</div>
</div>