<table>
	<tr>
		<th>Name</th>
		<th>Precio</th>
		<th>Categoria</th>
		<th>Establecimiento</th>
	  <th>Editar - Borrar</th>
	</tr>
	<% @products.each do |p| %>
		<tr>
			<td> <%= p.name %> </td>
			<td> <%= p.precio %> </td>
			<td> <%= p.category.name %> </td>
			<td> <%= p.establishment.name %> </td>
			<td> <%= link_to 'Editar', edit_establishment_path(p) %> - <%= link_to establishment_path(p), method: :delete, data: { confirm: 'Are you sure?' } do %><span>Borrar</span><% end %></td>
		</tr>
	<% end %>
</table>
<%= link_to 'Agregar producto', new_product_path %>