<div class="row margin-container">
	<div class="col-md-4 col-md-offset-4 text-center">
		<h2 class="text-center">Nuevo Producto Agregado</h2>
			<row class="text-left">
				<%= image_tag @product.avatar.url(:medium) %>
				<h4>Nombre: <%= @product.name %></h4>
				<h4>Precio: <%= @product.precio %></h4>
				<h4>Establecimiento: <%= @product.establishment.name %></h4>
				<h4>Categoria: <%= Categorie.find(@product.categorie_id).name %></h4>
			</row>
			<div class="row text_center">
				<div class="col-md-12">
					<table class="table">
						<tr>
							<th>Ingrediente</th>
							<th>Cantidad</th>
							<th>Opciones</th>
						</tr>
						<% @product.product_ingredients.each do |i| %>
						<tr>
							<td><%= i.ingredient.name %></td>
							<td><%= i.quantity %> <%= i.ingredient.unit_of_measurement %></td>
							<td><%= link_to edit_product_ingredient_path(i) do %><span>Editar</span><% end %> - <%= link_to product_ingredient_path(i), method: :delete, data: { confirm: 'Are you sure?' } do %><span>Borrar</span><% end %> </td>
						</tr>
						<% end %>
					</table>
				</div>
			</div>
		<div class="row">
			<div class="col-md-12">
				<%= link_to 'Volver a Productos', products_path, :class => 'btn pos_button_blue' %>
				<%= link_to 'Agregar Item A La Receta', new_product_ingredient_path, :class => 'btn pos_button_blue' %>	
			</div>
		</div>	
	</div>
</div>