<%= form_for @item, url: inventario_path(@item), method: :patch do |f| %>
  <div class="field form-group">
    <%= f.label :establishment_id %><br>
    <%= f.collection_select(:establishment_id, User.find(current_user.id).establishments, :id, :name, {include_blank: true}, {:class => 'form-control'}) %>
  </div>
  <div class="field form-group">
    <%= f.label :ingredient_id %><br>
    <%= f.collection_select(:ingredient_id, Ingredient.all, :id, :name, {include_blank: true}, {:class => 'form-control'}) %>
  </div>
  <div class="field form-group">
    <%= f.label :cantidad %><br>
    <%= f.number_field :quantity, :class => "form-control" %>
  </div>
  <div class="actions form-group text-center">
    <%= f.submit 'Guardar Item', :class => 'btn btn-primary btn-lg btn-warning' %>
  </div>
<% end %>